*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62, 5%; /* 10px / 16px = 62,5% = 1rem */
}

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  /* first row takes 80vh, second row takes min-content, third row takes 40vw, fourth row takes 3 times min-content, fifth row takes 3 times min-content, sixth row takes 3 times min-content*/
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; /* gridline, marks the end of the grid */
  /*
  | Sidebar | Rand | 8 Content-Spalten | Rand |
  | 8rem | flexible column, min. 6rem, max. 1fr | 8 columns, each column takes min-content, max. 14rem | flexible column, min. 6rem, max. 1fr |
  | sidebar-start | sidebar-end | full-start | center-start | center-end | full-end |
  */
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.heading-4, .heading-3, .heading-2 { /* this is a placeholder for the heading class */
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--light {
  color: #f9f7f6;
}
.heading-2--dark {
  color: #54483A;
}

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
}

.heading-4 {
  /* this extends the heading class */
  font-size: 1.9rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483A;
}

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #B28451;
}

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
}

.header {
  background-color: #54483A;
  grid-column: full-start/col-end 6;
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
}

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  /* repeat the number of columns needed to fit the content, min-content is the minimum width of the column, 1fr is the maximum width of the column */
  grid-gap: 6rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr; /* min-content is the width of the icon, 1fr is the width of the text */
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
}
.feature__icon {
  fill: #c69963;
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2; /* the icon should span 2 rows */
  transform: translateY(-1rem);
}
.feature__icon {
  fill: #c69963;
  width: 4.5rem;
  height: 4.5rem;
}
.feature__text {
  font-size: 1.7rem;
}

.story__pictures {
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  grid-column: full-start/col-end 4; /* full-start means the start of the grid, col-end 4 means the end of the 4th column */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
}
.story__img--1 {
  width: 100%;
  grid-row: 2/6;
  grid-column: 2/6;
  align-items: center;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
.story__img--2 {
  width: 115%;
  z-index: 2; /* bring the image to the front for the right side to be visible */
  grid-row: 4/6;
  grid-column: 4/7;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end; /* col-start 5 means the start of the 5th column, full-end means the end of the grid */
  padding: 6rem 8vw;
  /* flexbox layout 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* avoid streching of items in the flex container */
  display: grid;
  align-content: center;
  justify-items: start;
}
.story__text {
  font-size: 1.7rem;
}

.homes {
  background-color: #101d2c;
  grid-column: center-start/center-end;
}

.gallery {
  background-color: red;
  grid-column: full-start/full-end;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
}

/*# sourceMappingURL=style.css.map */
