.features {
    grid-column: center-start / center-end;
    grid-row: 2 / 3;

    margin: 15rem 0;

    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    /* repeat the number of columns needed to fit the content, min-content is the minimum width of the column, 1fr is the maximum width of the column */
    grid-gap: 6rem;
    align-items: start;

    @media only screen and (max-width: $bp-large) {
        grid-column: center-start / center-end;
        grid-row: 4 / 5;
        margin: 10rem 0;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-column: full-start / full-end;
        grid-row: 4 / 5;
        margin: 8rem 4rem;
        grid-gap: 4rem;
    }

    @media only screen and (max-width: $bp-small) {
        grid-row: 4 / 5;
        margin: 6rem 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content);
        grid-gap: 3rem;
    }
}

// FEATURE COMPONENT
.feature {
    display: grid;
    grid-template-columns: min-content 1fr; /* min-content is the width of the icon, 1fr is the width of the text */
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;

        grid-row: 1 / span 2; /* the icon should span 2 rows */
        transform: translateY(-1rem);
    }

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;

    }

    &__text {
        font-size: 1.7rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.5rem;
        }
    }

}