.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    
    padding: 8rem;
}

.nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));     // (6, 1fr)
    grid-gap: 2rem;
    align-items: start;

    &__link:link,
    &__link:visited {
        font-family: $font-display;
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block; /* for padding to work */
        transition: all 0.2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, 0.05);
        transform: translateY(-3px);
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    text-align: center;
    width: 50%;
    margin: 6rem auto 0 auto; /* center the copyright */
}