.gallery {
    background-color: $color-grey-light-1;
    grid-column: full-start / full-end;
    grid-row: 5 / 6;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 1.5rem;
    padding: 1.5rem; /* space around the grid */

    @media only screen and (max-width: $bp-large) {
        grid-row: 6 / 7;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-row: 8 / 9;
        grid-template-rows: repeat(7, 8vw);
        grid-gap: 1rem;
        padding: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
        grid-row: 8 / 9;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, 10vw);
        grid-gap: 0.8rem;
        padding: 0.8rem;
    }

    &__item {
        &--1 {
            grid-row: 1 / span 2;
            grid-column: 1 / span 2;

            @media only screen and (max-width: $bp-small) {
                grid-row: 1 / span 2;
                grid-column: 1 / span 2;
            }
        }

        &--2 {
            grid-row: 1 / span 3;
            grid-column: 3 / span 3;

            @media only screen and (max-width: $bp-small) {
                grid-row: 1 / span 3;
                grid-column: 3 / span 2;
            }
        }

        &--3 {
            grid-row: 1 / span 2;
            grid-column: 6 / span 1;

            @media only screen and (max-width: $bp-small) {
                grid-row: 4 / span 2;
                grid-column: 1 / span 1;
            }
        }

        &--4 {
            grid-row: 1 / span 2;
            grid-column: 7 / -1;

            @media only screen and (max-width: $bp-small) {
                grid-row: 4 / span 2;
                grid-column: 2 / span 2;
            }
        }

        &--5 {
            grid-row: 3 / span 3;
            grid-column: 1 / span 2;

            @media only screen and (max-width: $bp-small) {
                grid-row: 4 / span 3;
                grid-column: 4 / span 1;
            }
        }

        &--6 {
            grid-row: 4 / span 2;
            grid-column: 3 / span 2;

            @media only screen and (max-width: $bp-small) {
                grid-row: 6 / span 2;
                grid-column: 1 / span 2;
            }
        }

        &--7 {
            grid-row: 4 / span 1;
            grid-column: 5 / span 1;

            @media only screen and (max-width: $bp-small) {
                grid-row: 6 / span 1;
                grid-column: 3 / span 1;
            }
        }

        &--8 {
            grid-row: 3 / span 2;
            grid-column: 6 / span 2;

            @media only screen and (max-width: $bp-small) {
                grid-row: 6 / span 2;
                grid-column: 4 / span 1;
            }
        }

        &--9 {
            grid-row: 3 / span 3;
            grid-column: 8 / span 1;

            @media only screen and (max-width: $bp-small) {
                grid-row: 7 / span 3;
                grid-column: 1 / span 1;
            }
        }

        &--10 {
            grid-row: 6 / span 2;
            grid-column: 1 / span 1;

            @media only screen and (max-width: $bp-small) {
                grid-row: 7 / span 2;
                grid-column: 2 / span 2;
            }
        }

        &--11 {
            grid-row: 6 / span 2;
            grid-column: 2 / span 2;

            @media only screen and (max-width: $bp-small) {
                grid-row: 7 / span 2;
                grid-column: 4 / span 1;
            }
        }

        &--12 {
            grid-row: 6 / span 2;
            grid-column: 4 / span 1;

            @media only screen and (max-width: $bp-small) {
                grid-row: 9 / span 2;
                grid-column: 1 / span 1;
            }
        }

        &--13 {
            grid-row: 5 / span 3;
            grid-column: 5 / span 3;

            @media only screen and (max-width: $bp-small) {
                grid-row: 9 / span 2;
                grid-column: 2 / span 3;
            }
        }

        &--14 {
            grid-row: 6 / -1;
            grid-column: 8 / -1;

            @media only screen and (max-width: $bp-small) {
                grid-row: 10 / -1;
                grid-column: 1 / -1;
            }
        }

    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* make the image cover the entire grid cell */
        display: block; /* remove the default inline spacing */
    }
}