.homes {
    grid-column: center-start / center-end;
    grid-row: 4 / 5;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;

    @media only screen and (max-width: $bp-large) {
        grid-column: center-start / center-end;
        grid-row: 5 / 6;
        margin: 10rem 0;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-column: full-start / full-end;
        grid-row: 7 / 8;
        margin: 8rem 4rem;
        grid-gap: 5rem;
    }

    @media only screen and (max-width: $bp-small) {
        grid-row: 7 / 8;
        margin: 6rem 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content);
        grid-gap: 4rem;
    }
}

.home {
    background-color: $color-grey-light-1;
    //position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;

    &__img {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        z-index: 1;
    }

    &__like {
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        fill: $color-primary;
        height: 2rem;
        width: 2rem;
        z-index: 2;
        justify-self: end;
        margin: 1rem;

        /*
        position: absolute;
        top: 1rem;
        right: 1rem; */
    }

    &__name {
        grid-row: 1 / 2; 
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
       
        z-index: 3;
        transform: translateY(50%); /* move the name up by 50% of the height of the element */

        width: 80%;
        font-family: $font-display;
        font-size: 1.6rem;
        font-weight: 400;
        color: #fff;
        text-align: center;
        padding: 1.25rem;
        background-color: $color-secondary;
    }

    &__location,
    &__rooms {
        margin-top: 2.5rem;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
        font-size: 1.5rem;
        margin-left: 2rem;

        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.4rem;
            margin-left: 1.5rem;
        }

        svg {
            fill: $color-primary;
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;

            @media only screen and (max-width: $bp-small) {
                height: 1.5rem;
                width: 1.5rem;
                margin-right: 0.8rem;
            }
        }
    }

    &__btn {
        grid-column: 1 / -1;
    }
}