.story {
    &__pictures {
        background-image: linear-gradient(rgba($color-primary, 0.5), rgba($color-primary, 0.5)), url(../img/back.jpg);
        grid-column: full-start / col-end 4; /* full-start means the start of the grid, col-end 4 means the end of the 4th column */

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
    }

    &__img--1 {
        width: 100%;
        // height: 100%;
        grid-row: 2 / 6;
        grid-column: 2 / 6;
        align-items: center;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
    }

    &__img--2 {
        width: 115%;
        z-index: 2; /* bring the image to the front for the right side to be visible */

        grid-row: 4 / 6;
        grid-column: 4 / 7;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end; /* col-start 5 means the start of the 5th column, full-end means the end of the grid */

        padding: 6rem 8vw;

        /* flexbox layout 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; /* avoid streching of items in the flex container */
        

        display: grid;
        align-content: center;
        justify-items: start;
    }

    &__text {
        font-size: 1.7rem;
    }
}