.story {
    &__pictures {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;

        padding: 6rem 8vw;

        /* flexbox layout 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; /* avoid streching of items in the flex container */
        

        display: grid;
        align-content: center;
        justify-items: start;
    }

    &__text {
        font-size: 1.7rem;
    }
}