%heading { /* this is a placeholder for the heading class */
    font-family: $font-display;
    font-weight: 400;
}

.heading-4 {
    @extend %heading; /* this extends the heading class */
    font-size: 1.9rem;

    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}